@use 'sass:math';
@use 'sass:map';
@use 'include-media' as * with (
  $breakpoints: (
    phone: 320px,
    tablet: 768px,
    laptop: 1024px,
    desktop: 1600px,
  )
);

:root {
  --ch-scrollycoding-sticker-width: 50%;

  @include media('>laptop') {
    --ch-scrollycoding-sticker-width: 40%;
  }

  @include media('>desktop') {
    --ch-scrollycoding-sticker-width: 700px;
  }
}

.ch-scrollycoding-with-preview .ch-scrollycoding-preview {
  height: 40%;
}

html {
  padding: 0;
  margin: 0;
}

body {
  max-width: map.get($breakpoints, desktop);
  padding: 1em 0.5em 1em 1em;
  margin: 0 auto;

  @include media('>laptop') {
    padding: 2em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
